<footer class="c-page__footer">
  <hr>
  <p style="float: left; width: 55%; padding-right: 5%">
  	The Farrell Lab<br />
  	Cell Regulation & Development Group<br />
  	NICHD, Building 6A<br />
  	Bethesda, MD
  </p>
  <p style="clear: both; width: 40%">
  	This is not an official NIH site. For official views, visit the <a href="https://www.nichd.nih.gov/about/org/dir/affinity-groups">NICHD Intramural Program</a>, <a href="https://www.nichd.nih.gov">NICHD</a>, or <a href="https://www.nih.gov">NIH</a> websites.
  </p>
</footer>
