<footer class="c-page__footer">
  <hr>
  <p style="float: left; width: 50%; padding-right: 5%">
  	Farrell Lab<br />
  	NIH / NICHD<br />
  	6 Center Drive<br />
  	Bldg 6B, Rm 4B412, MS 2790<br />
  	Bethesda, MD 20814
  </p>
  <p style="clear: both; width: 45%">
  	This is not an official NIH site and does not represent official NIH or government views. For official views, visit the <a href="https://www.nichd.nih.gov/about/org/dir/affinity-groups">NICHD Intramural Program,</a> <a href="https://www.nichd.nih.gov">NICHD,</a> or <a href="https://www.nih.gov">NIH</a> websites.
  </p>
</footer>
