<header class="c-page__header">
  <h1>
  	<code>Unit on Cell Specification and Differentiation</code></br>
  	Farrell Lab @ NICHD
  </h1>
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <span class="u-separate"></span>
    <a href="{{ "/news.html" | prepend: site.baseurl }}">News</a>
    <span class="u-separate"></span>
    <a href="{{ "/research/" | prepend: site.baseurl }}">Research</a>
    <span class="u-separate"></span>
    <a href="{{ "/software/" | prepend: site.baseurl }}">Software</a>
    <span class="u-separate"></span>
    <a href="{{ "/data/" | prepend: site.baseurl }}">Data</a>
    <span class="u-separate"></span>
    <a href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a>
    <span class="u-separate"></span>
    <a href="{{ "/apply/" | prepend: site.baseurl }}">Apply</a>
    <span class="u-separate"></span>
    <a href="{{ "/contact/" | prepend: site.baseurl }}">Contact us!</a>
  </p>
</header>
